.bgbutton {
    background-color: rgb(249, 206, 238);
    color: black;
    border: 5px inset rgb(249, 206, 238);
}

.bgimage {
    background: transparent;
}

.bglink {
    background-color: rgb(249, 206, 238);
    text-decoration: none;
    color: black;
}