.bgbutton {
    background-color: rgb(249, 206, 238);
    color: black;
    border-radius: 10px inset rgb(249, 206, 238);
}
.bgbutton:hover {
    background-color: rgb(249, 243, 238);
}
.bgimage {
    background: transparent;
}

.bglink {
    background-color: rgb(249, 206, 238);
    text-decoration: none;
    color: black;
}
.bglink:hover {
    background-color: rgb(249, 243, 238);
}

.bgcard {
   
     border: 2px dashed  rgb(249, 206, 238); 
}

.borderhome {
    border-left:2px dashed  rgb(249, 206, 238);
}

