* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: white;
}
.links {
    padding-right: 10px;
}
.prueba {
    display: flex;
    justify-content: space-between;
}

.bgnavbar {
    background-color: rgb(249, 206, 238);
    text-decoration: none;
    color: black;
    
}
.textnavbar {
    text-decoration: none;
    color: black;
    font-family: 'Share Tech Mono', monospace;
}
.textnavbar:hover {
    text-decoration: underline wavy;
    color: black;
}

.logo {
    width: 50px;
    background-color: rgb(249, 206, 238);
}

.huella {
    width: 25px;
    background-color: rgb(249, 206, 238);
}

.textfont {
    font-family: 'Share Tech Mono', monospace;
}
