.bordeporlados{
    border: 5px inset rgb(249, 206, 238);
    background-color: rgb(249, 206, 238);
    color: black;
 }

 .bgbuttond {
    background-color: rgb(249, 206, 238);
    color: black;
    border: 5px inset rgb(249, 206, 238);
    text-decoration: none;
}

.bordertop {
    border: 5px dashed  white;
}

.nico{
    background-color: white;
    border: 3px dashed rgb(249, 206, 238) ;
}